@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-one: rgba(96, 30, 79);
    --color-two: rgba(255, 203, 160);
    --main-font: "Josefin Sans", sans-serif;
    --paragraph-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: #601E4F;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

nav img {
    width: 150px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-size: 1.5rem;
    position: relative;
}

nav ul li a::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: var(--color-two);
    transition: width 0.3s ease-in;
    position: absolute;
    bottom: -2px;
    left: 0;
}

nav ul li a:hover::after {
    width: 100%;
}

.hero {
    background-color: rgb(0, 0, 0);
    height: calc(100vh - 142px);
    display: flex;
    padding: 50px 300px;
    position: relative; 
}

.hero img {
    width: 600px;
    overflow-y: hidden;
}

.info {
    color: white;
    font-family: var(--main-font);
}

.info h1 {
    font-size: 3rem;
}

.info h2 {
    color: var(--color-two);
    font-size: 1.5rem;
    padding: 10px 0;
}

.info p {
    padding: 30px 0;
    line-height: 1.75rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.5;
}

.player {
    position: absolute;
    top: 55%;
    /* background-color: green; */
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.player button {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: 3px solid white;
    background-color: transparent;
}


.player button i {
    font-size: 14px;
    color: var(--color-two);
    cursor: pointer;
}

.player .progress-container {
    height: 10px;
    background-color: transparent;
    width: 100%;
    position: absolute;
    bottom: -40px;
    border-radius: 50px;
    border: 1px solid var(--color-two);
}

.player .progress-container .progress-bar {
    background-color: var(--color-two);
    width: 0%;
    height: 100%;
    transition: width 0.25s linear;
}

/* //Coming from javascript */
.mobile-nav {
    height: 100px;
    width: 100%;
    background-color: red;
}

/* ============================================================ Media Queries ========================================== */

@media screen and (max-width: 480px) {
    nav {
        display: none;
    }

    .hero {
        height: auto;
        padding: 20px 20px 0 20px;
        text-align: center;
        flex-direction: column;
    }

    .hero img {
        width: 300px;
    
    }

    .info {
        padding: 100px 0;
    }

    .player {
        width: 50%;
        left: 25%;
        transform: translateY(50px);
    }

    .player button {
        border-radius: 50%;
        height: 55px;
        width: 55px;
        border: 3px solid white;
        background-color: transparent;
    }
    
    
    .player button i {
        font-size: 14px;
        color: var(--color-two);
        cursor: pointer;
    }
}
