@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-one: rgba(96, 30, 79);
    --color-two: rgba(255, 203, 160);
    --main-font: "Josefin Sans", sans-serif;
    --paragraph-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#hero #mobile-nav {
    display: none;
    
}

#hero {
    height: 100vh;
    width: 100vw;
    background-color: black;
    /* position: relative; */
    
}

#hero #desktop-nav {
    width: 100%;
    display: flex;
    padding: 10px 100px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-one);
}

#hero #desktop-nav img {
    width: 150px;
}

#hero #desktop-nav ul {
    display: flex;
}

#hero #desktop-nav ul li {
    font-size: 2rem;
    padding: 0 50px;
    font-family: var(--main-font);
}


#hero #desktop-nav ul li a {
    color: #fff;
    cursor: pointer;
    position: relative;
}

#hero #desktop-nav ul li a::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: var(--color-two);
    transition: width 0.3s ease;
    border-radius: 50px;
}

#hero #desktop-nav ul li a:hover::after {
    width: 100%;
}

/* ======================= Media Queries Start =============== */

@media screen and (max-width: 480px) {
    #hero #desktop-nav {
        display: none
    }

    #hero {
        overflow: hidden;
    }

    #hero #mobile-nav {
        position: relative;
        background-color: var(--color-one);
        height: 200px;
        width: 200px;
        border-bottom-right-radius: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: growMenu;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
    }

    @keyframes growMenu {
        0% {
            height: 200px;
            width: 200px;
        }
        100%{
            height: 1000px;
            width: 1000px;
        }
    }

     #mobile-nav .hamburger {
        position: absolute;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translate(120%, 230%);
        /* transform: translate(350%, 450%); */
    }

    #mobile-nav .hamburger div {
        width: 100%;
        height: 2px;
        background-color: white;
    }

    #mobile-nav .nav-container {
        position: absolute;
        top: 668px;
        left: 592px;
        font-size: 2rem;
        font-family: var(--main-font);
        text-align: center;
        transform: translateX(-200%);
        transition: transform 1.5s ease;
    }

    #mobile-nav .nav-container.show {
        transform: translateX(0);
    }

    #mobile-nav .nav-container ul li {
        padding: 10px 0;
    }

    #mobile-nav .nav-container ul li a {
        color: white;
    }
}

/* figure out why there is overflow on mobile */